body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/images/bg2.png);
  overflow-x: hidden;
  animation: animation 100s linear infinite;
}

@keyframes animation {
  100% {
    background-position: 0px -3000px;
  }
}

@keyframes shockin {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }
  50%{
    width: auto;
    height: auto;
  }
  to {
    width: auto;
    height: auto;
    opacity: 1;
  }
}

.shockin {
  overflow: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  animation: .8s shockin forwards;
}

@keyframes fadeinanimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein {
  opacity: 0;
  overflow: hidden;
  animation: 0.8s fadeinanimation forwards;
}

.tabs > input {
  display: none !important;
}

.tabs input {
  display: block;
}
