body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/images/bg2.png);
  overflow-x: hidden;
  animation: animation 100s linear infinite;
}

@keyframes animation {
  100% {
    background-position: 0px -3000px;
  }
}

.tabs > input {
  display: none !important;
}

.tabs input {
  display: block;
}
