body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/images/editorBg.png);
  overflow-x: hidden;
  animation: animation 100s linear infinite alternate;
}

@keyframes animation {
  100% {
    background-position: 0px -3000px;
  }
}

@keyframes fadeinanimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein {
  opacity: 0;
  animation: 0.8s fadeinanimation forwards;
}

.tabs > input {
  display: none !important;
}

.tabs input {
  display: block;
}
